DB_CONNECTION=sqlite
DB_HOST=.data/auth.sqlite
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=replace-with-a-long-random-value
APP_DATABASE=.data/mampf.sqlite
REWE_COOKIE_FILE=.data/cookies/rewe.json
